@import 'colors';

.Button {
  cursor: pointer;

  position: relative;

  display: inline-block;
  padding: 0 0.5em;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 200;

  color: $ui-color-agent-lighter;
  background-color: $ui-color-agent-darker;
  border: 2px solid transparent;
  border-radius: 2px;

  transition-property: background-color, transform;
  transition-duration: 0.1s;

  .Button__Contents {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:hover, &:focus {
    z-index: 1;

    outline: none;

    background-color: $ui-color-agent-darkest;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    border: solid $ui-color-resistance;
    border-width: 2px;
  }

  &.Button--pressed, &.Button--pressed:hover {
    transform: scale(1.05);
  }

  &[disabled] {
    cursor: default;

    color: $ui-color-neutral-darker;
    background-color: $ui-color-neutral-lighter;

    &:hover {
      transform: none;

      background-color: $ui-color-neutral-lighter;
    }
  }
}
