$ui-color-agent: #cc3636;
$ui-color-agent-light: lighten($ui-color-agent, 10%);
$ui-color-agent-lighter: lighten($ui-color-agent, 25%);
$ui-color-agent-lightest: lighten($ui-color-agent, 40%);
$ui-color-agent-dark: darken($ui-color-agent, 10%);
$ui-color-agent-darker: darken($ui-color-agent, 25%);
$ui-color-agent-darkest: darken($ui-color-agent, 40%);

$ui-color-resistance: #2ebdff;
$ui-color-resistance-light: lighten($ui-color-resistance, 10%);
$ui-color-resistance-lighter: lighten($ui-color-resistance, 25%);
$ui-color-resistance-lightest: lighten($ui-color-resistance, 40%);
$ui-color-resistance-dark: darken($ui-color-resistance, 10%);
$ui-color-resistance-darker: darken($ui-color-resistance, 25%);
$ui-color-resistance-darkest: darken($ui-color-resistance, 40%);

$ui-color-neutral: #888;
$ui-color-neutral-light: lighten($ui-color-neutral, 10%);
$ui-color-neutral-lighter: lighten($ui-color-neutral, 25%);
$ui-color-neutral-lightest: lighten($ui-color-neutral, 40%);
$ui-color-neutral-dark: darken($ui-color-neutral, 10%);
$ui-color-neutral-darker: darken($ui-color-neutral, 25%);
$ui-color-neutral-darkest: darken($ui-color-neutral, 40%);
