@import 'colors';

.Resistance {
  cursor: default;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-family: 'Cairo', Helvetica, sans-serif;
  font-size: 1rem;
  color: $ui-color-agent-lightest;
  background-color: $ui-color-agent-dark;
}
