@import 'colors';

.Login {
  .Login__Message {
    margin-bottom: 0.5em;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
  }

  .Login__Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
