@import 'colors';

.Login {
  .Login__Message {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: light;
  }

  .Input {
    position: relative;
    margin: 0.5rem;
    font-size: 2rem;

    .Input__Label {
      transition-property: left, top, font-size, color;
      transition-duration: 0.5s;

      cursor: text;

      position: absolute;
      left: 1rem;
      top: 1rem;

      display: block;

      font-weight: bold;
    }

    &.Input--focused,
    &:not(.Input--empty) {
      .Input__Label {
        left: 0;
        top: 0;
        color: $ui-color-agent-lightest;
        font-size: 1rem;
      }
    }

    .Input__Field {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin: 0.5rem 0 0;
      padding: 1.5rem 0 0.5rem;

      font-family: inherit;
      font-size: inherit;
      font-weight: 200;

      color: $ui-color-agent-lightest;
      background-color: transparent;

      border: 0px solid $ui-color-agent-lightest;

      &::placeholder {
        color: transparent;
      }

      &:focus {
        outline: none;
      }
    }

    &.Input--focused .Input__Field {
      padding-bottom: calc(0.5rem - 2px);
      border-bottom-width: 2px;
    }
  }

  .Login__Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Button {
    margin: 5px;
    height: 55px;

    transition-property: transform;
    transition-duration: 0.1s;

    .Button__Contents {
      transition-property: background-color;
      transition-duration: 0.1s;

      flex: 1 0 auto;
      padding: 10px;

      font-size: 2rem;
      font-weight: 200;

      color: $ui-color-agent-lighter;
      background-color: $ui-color-agent-darker;

      border: none;
    }

    .Arrow__Body {
      transition-property: fill;
      transition-duration: 0.1s;
      fill: $ui-color-agent-darker;
    }

    &:hover, &:focus {
      transform: scale(1.1);

      z-index: 1;

      .Button__Contents {
        background-color: $ui-color-agent-darkest;
      }

      .Arrow__Body {
        fill: $ui-color-agent-darkest;
      }
    }
  }
}
